<ng-container *ngIf="user$ | async as _user">
  <div class="menu-item px-3">
    <div class="menu-content d-flex align-items-center px-3">
      <div class="symbol symbol-50px me-5">
        <ng-container *ngIf="_user.pic; else initialsAvatar">
          <img alt="Kullanıcı Resmi" [src]="_user.pic" class="w-100 h-100 rounded-circle" />
        </ng-container>
        <ng-template #initialsAvatar>
          <div
            class="symbol-label fs-6 fw-bold text-white bg-primary rounded-circle d-flex align-items-center justify-content-center"
            style="width: 50px; height: 50px;"
          >
            {{ getInitials(_user.firstname, _user.lastname) }}
          </div>
        </ng-template>
      </div>

      <div class="d-flex flex-column">
        <div class="fw-bolder d-flex align-items-center fs-5">
          {{ _user.firstname }} {{ _user.lastname }}
          <span class="badge badge-light-success fw-bolder fs-8 px-2 py-1 ms-2">
{{ _user.role || 'Kullanıcı' }}
          </span>
        </div>
        <span class="fw-bold text-muted fs-7">
          {{ _user.email }}
        </span>
      </div>
    </div>
  </div>

  <div class="separator my-2"></div>

  <div class="menu-item px-5">
    <a routerLink="/crafted/pages/profile" class="menu-link px-5">
      Profilim
    </a>
  </div>

  <div class="menu-item px-5 my-1">
    <a routerLink="/crafted/account/settings" class="menu-link px-5">
      Hesap Ayarları
    </a>
  </div>

  <div class="menu-item px-5">
    <a (click)="logout()" class="menu-link px-5 cursor-pointer">Çıkış Yap</a>
  </div>
</ng-container>
