# === Angular / Node ===
/dist/
/out-tsc/
/.angular/
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/coverage/
*.tgz
*.local.json
*.env
.env.*

# Angular build outputs
*.js
*.js.map
*.d.ts
.eslintcache

# === ASP.NET Core ===
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
.vs/
project.lock.json
project.fragment.lock.json
*.dbmdl
*.pdb
*.mdb
*.log
*.ldf
*.nupkg
*.snupkg
*.cache
*.tmp

# Entity Framework tools
Migrations/

# JetBrains Rider
.idea/
*.sln.iml

# === Visual Studio Code ===
.vscode/

# === Logs ===
*.log
*.bak
*.swp

# === System / OS ===
.DS_Store
Thumbs.db
ehthumbs.db

# === Other ===
local.db
/connect.lock
.sass-cache
*.njsproj
*.ntvs*
